---
name: Docs CI
"on":
  push:
    paths:
      - "**/*.md"
      - "docs/**"
      - ".github/workflows/docs-ci.yml"
  pull_request:
    paths:
      - "**/*.md"
      - "docs/**"
      - ".github/workflows/docs-ci.yml"
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: |
            **/*.md
            !**/node_modules/**
      - name: Lint YAML
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: ".github/**/*.yml"
          strict: true
